[Desktop Entry]
Name=Verve
Comment=API co-development platform with HTTP debugging, mock & capture, document sharing
Exec=verve %F
Icon=verve
Terminal=false
Type=Application
Categories=Development;Network;
StartupNotify=true
MimeType=text/plain;text/html;application/json;
